<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>
	
	<div class="row contenedor">
	
		<div class="col-sm-12">
			<div class="contenedor">
				<br>
				<h2>Estadias</h2>
				<table class="table table-condensed">
				    <thead>
				      <tr>
				        <th>Pais</th>
				        <th>Ciudad</th>
				        <th>Tipo estadia</th>
				        <th>Costo x dia</th>
				        <th></th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr th:each="estadia:${estadias}">
				        <td th:text="${estadia.pais}"></td>
				        <td th:text="${estadia.ciudad}"></td>
				        <td th:text="${estadia.tipoestadia}"></td>
				        <td th:text="'$' + ${estadia.costoxdia}"></td>
				        <td>
	  						<div class="btn-group">
							  <a th:href ="@{/estadia/ver/} + ${estadia.id}">
							  <button type="button" class="btn btn-dark">
							  	Ver
							  </button>
							  </a>
							</div>
						</td>
				      </tr>
				    </tbody>
				    
		    	</table>
		    	
			</div>
		</div>
		<!-- Panel Derecho -->
	</div>
	<!-- Contenido Principal -->
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>