<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"></meta>
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>
	
	<div class="row contenedor">
		
		
		
		<div class="col-sm-12">
			<div class="contenedor">
				<h2>Mis Servicios</h2>
				<table class="table table-condensed">
				    <thead>
				      <tr>
				        <th>Pais</th>
				        <th>Ciudad</th>
				        <th>Tipo estadia</th>
				        <th>Estado</th>
				        <th>Costo x dia</th>
				        <th></th>
				        <th></th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr th:each="estadia:${estadias}">
				        <td th:text="${estadia.pais}"></td>
				        <td th:text="${estadia.ciudad}"></td>
				        <td th:text="${estadia.tipoestadia}"></td>
				        <td>
				        	<span th:if="${estadia.comprado}" th:text="Vendido"></span>
				        	<span th:unless="${estadia.comprado}" th:text="Pendiente"></span>
				        </td>
				        <td th:text="'$' + ${estadia.costoxdia}"></td>
				        
				      </tr>
				    </tbody>
				    
		    	</table>
		    	
			</div>
		</div>
		<!-- Panel Derecho -->
	</div>
	<!-- Contenido Principal -->
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>