<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"></meta>
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>
	
	<div class="container py-3">
		<div class="row">
			<div class="col-sm-12">
				<div class="contenedor">
					<br>
					<h2>Mis Servicios</h2>
					<table class="table table-condensed">
					    <thead>
					      <tr>
					        <th>Pais</th>
					        <th>Ciudad</th>
					        <th>Tipo estadia</th>
					        <th>Estado</th>
					        <th>Costo x dia</th>
					        <th></th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr th:each="estadia:${estadias}">
					        <td th:text="${estadia.pais}"></td>
					        <td th:text="${estadia.ciudad}"></td>
					        <td th:text="${estadia.tipoestadia}"></td>
					        <td>
					        	<span th:if="${estadia.comprado}" th:text="Vendido" class="text-success"></span>
					        	<span th:unless="${estadia.comprado}" th:text="Pendiente" class="text-warning"></span>
					        </td>
					        <td th:text="'$' + ${estadia.costoxdia}"></td>
					        <td th:if="${!estadia.comprado}">
					        	<div class="btn-group">
					        		<a class="btn btn-secondary text-light" th:href="@{/estadia/editar/} + ${estadia.id}">Editar</a>
					        		<a class="btn btn-danger text-light" th:href="@{/estadia/eliminar/} + ${estadia.id}"
					        		onclick="return confirm('Está seguro que desea eliminar la estadía?')">
					        		Eliminar</a>
					        	</div>
					        </td>
					      </tr>
					    </tbody>
					    
			    	</table>
			    	
				</div>
			</div>
	
		</div><!-- .row -->
	</div><!-- .container py-3 -->

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>