<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"></meta>
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>
	
	<div class="row contenedor">
		<div class="col-sm-12">
			<div class="contenedor">
				<br>
				<h2>Vuelos</h2>
				<table class="table table-condensed">
				    <thead>
				      <tr>
				        <th>Origen</th>
				        <th>Destino</th>
				        <th>Fecha de Salida</th>
				        <th>Hora de Salida</th>
				        <th>Tarifa Base</th>
				        <th></th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr th:each="vuelo:${vuelos}">
				        <td th:text="${vuelo.origen}"></td>
				        <td th:text="${vuelo.destino}"></td>
				        <td th:text="${vuelo.fechasalida}"></td>
				        <td th:text="${vuelo.horasalida}"></td>
				        <td th:text="'Desde $' + ${vuelo.tarifabase}"></td>
				        <td>
	  						<div class="btn-group">
							  <a th:href="@{/vuelo/ver/} + ${vuelo.id}">
							  <button type="button" class="btn btn-dark">
							  	Ver
							  </button>
							  </a>
							</div>
						</td>
				      </tr>
				    </tbody>
				    
		    	</table>
		    	
			</div>
		</div>
		<!-- Panel Derecho -->
	</div>
	<!-- Contenido Principal -->
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>