<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>
	
	<div class="row contenedor">
	
		<div class="col-sm-12">
			<div class="contenedor">
				<h2>Mis Servicios</h2>
				<table class="table table-condensed">
				    <thead>
				      <tr>
				        <th>Origen</th>
				        <th>Destino</th>
				        <th>Fecha de Salida</th>
				        <th>Hora de Salida</th>
				        <th>Estado</th>
				        <th>Tarifa Base</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr th:each="vuelo:${vuelos}">
				        <td th:text="${vuelo.origen}"></td>
				        <td th:text="${vuelo.destino}"></td>
				        <td th:text="${vuelo.fechasalida}"></td>
				        <td th:text="${vuelo.horasalida}"></td>
				        <td>
				        	<span th:if="${vuelo.comprado}" th:text="Vendido"></span>
				        	<span th:unless="${vuelo.comprado}" th:text="Pendiente"></span>
				        </td>
				        <td th:text="'Desde $' + ${vuelo.tarifabase}"></td>
				      </tr>
				    </tbody>
		    	</table>
		    	
			</div>
		</div>
		<!-- Panel Derecho -->
	</div>
	<!-- Contenido Principal -->
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>