<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8"></meta>
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>
	<div class="container py-3">
		<div class="row">
			<div class="col-sm-12 col-centered">
					<br>
					<h2 th:text="'Vuelo #' + ${vuelo.id}"></h2>
					<div class="card">
					  <div class="card-header bg-dark" style="color:white!important;">Detalles</div>
					  <div class="card-body bg-default">
					    <p th:text="'Aerolinea: ' + ${vuelo.empresavuelo.nombre}"></p>
					  	<p th:text="'Origen: ' + ${vuelo.origen}"></p>
					  	<p th:text="'Destino: ' + ${vuelo.destino}"></p>
					  	<p th:text="'Precio base: $' + ${vuelo.tarifabase}"></p>
					  	<p th:text="'Precio por adulto: $' + ${vuelo.tarifaadulto * vuelo.tarifabase}"></p>
					  	<p th:text="'Precio por niño: $' + ${vuelo.tarifanino * vuelo.tarifabase}"></p>
					  	<p th:text="'Precio por primera clase: $' + ${vuelo.tarifafc * vuelo.tarifabase}"></p>
					  </div>
					</div>
					
					<br>
					
					<form th:action="@{/vuelo/ver/} + ${vuelo.id}" th:object="${compravuelo}" method="post">
						  
						  <div class="form-group">
						  	<label for="nroadulto">Cantidad de adultos:</label>
						  	<input type="number" class="form-control" id="nroadulto"
						  	th:field="*{nroadulto}" step="1" min="0" max="100">
						  	<label for="nronino">Cantidad de niños:</label>
						  	<input type="number" class="form-control" id="nronino"
						  	th:field="*{nronino}" step="1" min="0" max="100">
						  	<label for="nrofc">Cantidad de primera clase:</label>
						  	<input type="number" class="form-control" id="nrofc"
						  	th:field="*{nrofc}" step="1" min="0" max="100">
						  	
						  	
						  	<!--Inputs para calcular el total en tiempo de ejecucion-->
						  	<input type="hidden" th:value="${vuelo.tarifabase}" id="tarifabase">
						  	<input type="hidden" th:value="${vuelo.tarifanino}" id="tarifanino">
						  	<input type="hidden" th:value="${vuelo.tarifaadulto}" id="tarifaadulto">
						  	<input type="hidden" th:value="${vuelo.tarifafc}" id="tarifafc">
						  	<label for="total">Total: </label>
						  	<br>
						  	<input type="text" id="total" class="form-control" disabled>
						  	
						  	
						  </div>
						  
						  <div class="card" sec:authorize="!isAuthenticated()">
						  	<div class="card-header bg-warning" style="color:white!important;">Advertencia</div>
						  	<div class="card-body">
						  		<p>Para realizar la compra debe <a th:href="@{/usuario/registrar}">registrarse</a>.</p>
								<br>
								<p>Si ya tiene una cuenta ingrese.</p>
								<div class="btn-group">
									<a class="btn btn-light" th:href="@{/vuelo/listar}">Volver</a>
									<a class="btn btn-dark" th:href="@{/login}">Iniciar sesión</a>
								</div>
						  	</div>
						  </div>
						  <div class="btn-group" sec:authorize="hasRole('ROLE_Cliente')">
							<a class="btn btn-light" th:href="@{/vuelo/listar}">Volver</a>
							<button type="submit" class="btn btn-dark" onclick="return confirm('Está seguro que desea realizar la compra?')">Comprar</button>
				    	  </div>
					</form>
			</div>
		</div><!-- .row -->
	</div><!-- .container py-3 -->
	<footer th:replace="layout/layout :: footer"></footer>
	<script th:src="@{/js/compravuelo/CalcularTotal.js}"></script>
</body>
</html>