<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="row contenedor">
			<div class="col-sm-12">
				<h2>Bienvenido a IncaWays</h2>
				<p>
					IncaWays es una empresa de viajes y turismo, dedicada al asesoramiento de planeamiento
					de viajes en todo el Peru, via proposicion de las mejores ofertas de vuelos, estadias y, en un
					futuro; mas funcionalidades por venir. Su objetivo principal es optimizar la calidad del
					servicio de reservas en todo el pais, ademas de mantener la confiabilidad y fidelidad de
					nuestros clientes (Tanto empresas como usuarios finales).
				</p>
			</div>
		</div>
		
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>