<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"></meta>
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>
	<div class="container py-3">
		<div class="row">
			
			<div class="col-sm-12">
				<div class="contenedor">
					<h2>Mis ventas</h2>
					<table class="table table-condensed">
					    <thead>
					      <tr>
					        <th>Empresa</th>
					        <th>Usuario</th>
					        <th>Numero de dias</th>
					        <th>Total</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr th:each="compraestadia:${compraestadias}">
					        <td th:text="${compraestadia.estadia.empresaestadia.nombre}"></td>
					        <td th:text="${compraestadia.usuario.nombre} + ' ' + ${compraestadia.usuario.apellido}"></td>
					        <td th:text="${compraestadia.nrodias}"></td>
					        <td th:text="'$ ' + ${compraestadia.costo}"></td>
					      </tr>
					    </tbody>
					    
			    	</table>
			    	
				</div>
			</div>

		</div><!-- .row -->
	</div><!-- .container py-3 -->
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>